<!DOCTYPE html>
<html>
<head>
    <title>mLab MongoDB test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h2>Database Results getting order </h2>
    <ul>
        <% results.forEach(function(r) { %>
        <li>Order id:<%= r._id %></li>
        <ul>
            <li>Customer ID:( <%=r.CUSTOMER_ID %> )</li>
            <li>Billing ID:( <%=r.BILLING_ID %> )</li>
            <li>Shipping ID:( <%=r.SHIPPING_ID %> )</li>
            <li>Date: ( <%=r.DATE %> )</li>
            <li>Order Total: ( <%=r.ORDER_TOTAL %> )</li>
            <li>Products: ( <%=r.PRODUCT_VECTOR %> )</li>

        </ul>
        <br/><br/>
        <% }); %>
    </ul>
</div>

</body>
</html>
